<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main.css">

  <title>Weightlifting Log</title>
</head>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<div class="window">
<h2>Weightlifting Log</h2>

<ul class="navbar">
  <li><a href="#" ng-click="changeM()">Monday</a></li>
  <li><a href="#" ng-click="changeT()">Tuesday</a></li>
  <li><a href="#" ng-click="changeM()">Wednesday</a></li>
  <li><a href="#" ng-click="changeT()">Thursday</a></li>
  <li><a href="#" ng-click="changeM()">Friday</a></li>
</ul>

<h3>Add your exercises for the day</h3>


<form ng-submit="todoAdd1()">
    <input type="text" ng-model="n1" size="20" placeholder="{{n1}}">
    <input type="number" ng-model="w1" size="20" placeholder="{{w1}}">
    <input type="number" ng-model="s1" size="20" placeholder="{{s1}}">
    <input type="number" ng-model="r1" size="20" placeholder="{{r1}}">
    <input type="submit" value="Add to workout">
</form>

<form ng-submit="todoAdd2()">
    <input type="text" ng-model="n2" size="20" placeholder="{{n2}}">
    <input type="number" ng-model="w2" size="20" placeholder="{{w2}}">
    <input type="number" ng-model="s2" size="20" placeholder="{{s2}}">
    <input type="number" ng-model="r2" size="20" placeholder="{{r2}}">
    <input type="submit" value="Add to workout">
</form>

<form ng-submit="todoAdd3()">
    <input type="text" ng-model="n3" size="20" placeholder="{{n3}}">
    <input type="number" ng-model="w3" size="20" placeholder="{{w3}}">
    <input type="number" ng-model="s3" size="20" placeholder="{{s3}}">
    <input type="number" ng-model="r3" size="20" placeholder="{{r3}}">
    <input type="submit" value="Add to workout">
</form>

<br>


<div ng-repeat="x in todoList" id="exercise">
    <input type="checkbox" ng-model="x.done">Workout: <span ng-bind="x.name"></span>
| Weight:<span ng-bind="x.weight"></span> | Sets: <span ng-bind="x.sets"></span> | Reps: <span ng-bind="x.reps"></span>
</div>



<p><button ng-click="finish()">Finish Marked Exercises</button></p>
</div>

<div id="done">
  <h2>Finished Exercises:</h2>
  <div ng-repeat="x in doneList">
      Workout: <span ng-bind="x.name"></span>
  | Weight: <span ng-bind="x.weight"></span> | Sets: <span ng-bind="x.sets"></span> | Reps: <span ng-bind="x.reps"></span>
  </div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('todoCtrl', function($scope) {
	$scope.changeM = function(){
        console.log("here");
        $scope.n1 = 'Bench';
          $scope.w1 = 140;
          $scope.s1 = 3;
          $scope.r1 = 8;
          $scope.n2 = 'Military Press';
          $scope.w2 = 100;
          $scope.s2 = 3;
          $scope.r2 = 8;
          $scope.n3 = 'Bicep Curl';
          $scope.w3 = 40;
          $scope.s3 = 3;
          $scope.r3 = 8;
          $scope.todoList = mList;
    };

    $scope.changeT = function(){
        $scope.n1 = 'Squat';
          $scope.w1 = 200;
          $scope.s1 = 3;
          $scope.r1 = 8;
          $scope.n2 = 'Calf Raises';
          $scope.w2 = 100;
          $scope.s2 = 3;
          $scope.r2 = 8;
          $scope.n3 = 'Dumbell Lunges';
          $scope.w3 = 40;
          $scope.s3 = 3;
          $scope.r3 = 10;
        $scope.todoList = tList;
    };
   
  $scope.doneList = []; 

	var d = new Date();
	var today = d.getDay();
 	var mList = []; 
	var tList = []; 
	if(today == 1 || today == 3 || today == 6){   
	  $scope.changeM();
	} else {
	  $scope.changeT();
        }
	$scope.todoAdd1 = function() {
    	 $scope.todoList.push({
    		 name: $scope.n1,
    		 weight: $scope.w1,
    		 reps: $scope.r1,
    		 sets: $scope.s1,
    		 done:false
	     });

        $scope.n1 = "";
        $scope.w1 = "";
        $scope.r1 = "";
	      $scope.s1 = "";
    };

    $scope.todoAdd2 = function() {
        $scope.todoList.push({
             name: $scope.n2,
             weight: $scope.w2,
             reps: $scope.r2,
             sets: $scope.s2,
             done:false
       });

        $scope.n2 = "";
        $scope.w2 = "";
        $scope.r2 = "";
        $scope.s2 = "";
    };

    $scope.todoAdd3 = function() {
         $scope.todoList.push({
             name: $scope.n3,
             weight: $scope.w3,
             reps: $scope.r3,
             sets: $scope.s3,
             done:false
       });

        $scope.n3 = "";
        $scope.w3 = "";
        $scope.r3 = "";
        $scope.s3 = "";
    };

    $scope.finish = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) {
              $scope.todoList.push(x);
            }
            else{
              $scope.doneList.push(x);
            }
        });
    };
});
</script>

</body>