body{
        font-family:'Open Sans',sans-serif;
        float: center;
        background: url("http://news.doubletree.com/assets/DBTR/properties/International/DBT_Jumeriah_Beach/October/DTbH_Dubai_Jumeirah_Beach_Gym_HR.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow:hidden;
}

#header p{
	color: blue;

}

#done{
	background-color: black;
	color: white;
	background-color:rgba(0, 0, 0, .25);
	padding-left: 5px;
	border-radius: 5px;
}

.window{

        text-align: center;
        color:white;
        /*background: #006699;*/
        width: 100%;

}


.navbar{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	border-radius: 5px;

}

.navbar li{
	width:20%;
	float:left;
}

.navbar li a,.navitem{
	display:block;
	padding:8px 16px;
	text-decoration: none;
	color:black;
	background-color:#ccc;

}

.navbar li a:hover{
	text-decoration: none;
	color:white;
	background-color:black;

}


.navbar{
	background-color:#ccc;
	color:#000
}